.button {
  display: block;
  background-color: $bg-color;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: #ffffff;
    text-decoration: none;
  }
}
