.how-it-works {

}

.how-it-works__title {
  margin-bottom: 29px;
}

.how-it-works__list {
  @include list-reset();
}

.how-it-works__item {
  position: relative;
  font-family: $arial;
  margin-bottom: 25px;
  padding-left: 80px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: $bg-color;
  }

  &::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
  }

  &--nutrients {
    &::after {
      background-image: url('../../img/advantage-leaf@1x.png');
    }
  }

  &--form {
    &::after {
      background-image: url('../../img/advantage-powder@1x.png');
    }
  }

  &--food-intake {
    &::after {
      background-image: url('../../img/advantage-dining@1x.png');
    }
  }

  &--time {
    &::after {
      background-image: url('../../img/advantage-clock@1x.png');
    }
  }
}
