.products-list {
  list-style: none;
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;
}

.products-list__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 25px;
  border: 1px solid #ededed;
}

.products-list__item-content {
  padding-top: 20px;
  flex-grow: 1;
}

.products-list__item-title {
  max-width: 75px;
  margin: 0 0 10px;

  @include text-size(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
}

.products-list__item-link {
  width: 100%;
}

.products-list__item--last {
  padding-top: 25px;
  flex-direction: column;
}

.products-list__show-more-text {
  font-family: $Arial;

  @include text-size(12px, 16px, #444444);
  text-align: center;
  margin: 0 0 20px;

  &--upper {
    font-family: "Oswald", $Arial;

    @include text-size(16px, 20px);
    text-transform: uppercase;
    margin: 0 0 7px;
  }
}

.products-list__show-more-link {
  width: 30px;
  height: 30px;
  order: -1;
  align-self: center;
  margin-bottom: 25px;
}

.products-list__polygon {
  fill: rgba(#222222, 0.2%);
}
